* {
    margin: 0;
    padding: 0;
}

html {
   background-color: black;
    height: 100%;
    width: 100%; 
}

body {
    width: 66%;
    height: 100%;
    background-color: #006400;
    margin-left: auto;
    margin-right: auto;
    border-left: solid #1f618d 10px;
    border-right: solid #1f618d 10px;
}

header {
    height: 95px;
    width: 100%;
    background-color: #ffd80d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    height: 15%;
    width: 15%;
    position: relative;
    bottom: 29px;
}

nav {
    display: flex;
    justify-content: space-around
}

a {
    text-decoration: none;
    color: #1f618d;
    font-size: 26px;
    margin-top: 27px;
}